:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-weight: normal;
  font-size: 26px;
}

.btn-branding {
  background: var(--branding-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
}
