:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 80px;
}

h2 {
  font-size: 60px;
}

h4 {
  font-size: 48px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 100px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-weight: normal;
  font-size: 26px;
  line-height: 1.5;
}

.btn-branding {
  background: var(--branding-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
}

.project-description {
  padding: 0px 45px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  .content-container.container {
    padding: 12px;
  }

  .content-container .content h1 {
    font-size: 44px;
    line-height: 1.2;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  h4 {
    font-size: 26px;
  }
  footer p {
    font-size: 14px;
  }
}

.logo {
  max-height: 40px;
}

.navbar .nav-link {
  color: #272142;
}

.navbar .nav-link .active {
  color: var(--branding-color);
}

.navbar .nav-link:hover {
  color: rgba(39, 33, 66, 0.8);
  font-weight: bold;
  transition: all 100ms ease-in-out;
}

.navbar .nav-link.active {
  text-decoration: underline;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav li a.active {
  text-decoration: underline;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover {
  color: rgba(39, 33, 66, 0.8);
  font-weight: bold;
}

.content-container {
  padding: 120px 20px;
}

.content {
  text-align: center;
  margin: 0;
  padding-right: 30px;
}
.content h1 {
  font-size: 60px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
}
.content h3 {
  font-size: 24px;
}
.content p {
  font-size: 14px;
}

img {
  border-radius: 7px;
}

.responsive-image {
  width: 80%;
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

footer {
  margin: 60px;
}

footer .email {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}
