:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 80px;
}

h2 {
  font-size: 60px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 100px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-weight: normal;
  font-size: 26px;
  line-height: 1.5;
}

.btn-branding {
  background: var(--branding-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
}

.project-description {
  padding: 0px 45px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .about-hero {
    text-align: center;
    padding: 0;
  }

  .about-hero.container {
    padding: 12px;
  }

  .about-hero .about-hero-content h1 {
    font-size: 44px;
    line-height: 1.2;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}

.about-hero {
  padding: 120px 20px;
}

.about-hero h1 {
  font-size: 60px;
  line-height: 80px;
}

.about-hero h2 {
  font-size: 18px;
}
.about-hero p {
  font-size: 14px;
}
.about-hero-content {
  margin: 0;
  padding-right: 30px;
}
img {
  border-radius: 7px;
}

.responsive-image {
  width: 80%;
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
